@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');

.ysabeau-office {
  font-family: "Ysabeau Office", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
  
#firstline{
    font-family: "Ysabeau Office", sans-serif;
    text-align: center;
    font-size: 25pt;
}
h2{
    font-size:20pt;
}
a{
    color: black;
}
.content{
    display: flex;
}
.content-left{
    width: 65%;
    margin: 2%;
    padding: 3%;
    border-style: solid;
    border-radius: 2pc;
    background-color: rgb(100, 221, 242);
}
.content-right{
    border-style: solid;
    border-radius: 2pc;
    margin: 2%;
    padding: 3%; 
}
img {
    width: 20pc;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(255, 252, 252); 
    color: black; 
    padding: 15px 20px; 
    border: 2px solid rgb(120, 120, 120); /* Рамка вокруг шапки */
    margin-bottom: 20px; 
    font-size: 17px;
}

.header nav ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: flex-end; 
}

.header nav ul li {
    margin-left: 20px; 
}

.header nav ul li a {
    color: black; 
    text-decoration: none; 
}

.header nav ul li a:hover {
    text-decoration: underline;
}
#firstline2{
    text-align: center;
}
.container {
    background-color: rgb(100, 221, 242); 
    padding: 20px; 
    text-align: center; 
}

.block {
    width: 200px; 
    height: 200px; 
    background-color: rgb(100, 221, 242); 
    margin: 0 auto; 
}

.container img {
    width: 200px; 
    display: block; 
    margin: 20px auto 0;
}
#firstline3{
    text-align: center;
}
.container-2 {
    background-color: rgb(100, 221, 242); 
    height: 400px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.block-2 {
    width: 200px; 
    height: 200px; 
    background-color: #a1b4d2; 
}
#firstline4{
    text-align: center;
}
.container-3 {
    background-color: #e0f7fa; 
    border: 2px solid black; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding: 10px; 
}

.block-3 {
    width: 200px; 
    height: 200px; 
    background-color: #a1b4d2; 
    margin-bottom: 10px; 
}
#firstline5{
    text-align: center;
}
.container-4 {
    border: 2px solid black; 
    display: flex; 
}


.block1 {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 4px solid green;      
    background-color: transparent;
    left: 620px;
    bottom: 70px;
    right: 150px;
}

.block2 {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 4px solid yellowgreen;     
    background-color: transparent;
    position: relative; 
    left: 510px;
    bottom: 100px;
    top: 40px;
    right: 50px;
}
.block3 {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 4px solid red;     
    background-color: transparent;
    position: relative; 
    left: 400px;
    top: 150px;  
}



.fixed-image {
    position: fixed; 
    bottom: 10px; 
    right: 10px; 
}

.fixed-image img{
    width: 100px;
    height: 100px; 
}
